<div class="teacher-detail" *ngIf="teacher">
    <h2>Teacher Details</h2>
    <div class="detail-card">
      <div class="detail-item">
        <strong>Name:</strong> {{ teacher.username }}
      </div>
      <div class="detail-item">
        <strong>Max Days Per Week:</strong> {{ teacher.maxDaysPerWeek }}
      </div>
      <div class="detail-item">
        <strong>Max Hours Per Day:</strong> {{ teacher.maxHoursPerDay }}
      </div>
      <div class="detail-item">
        <strong>Max Gaps Per Day:</strong> {{ teacher.maxGapsPerDay }}
      </div>
      <div class="detail-item">
        <strong>Subject Specialization:</strong> {{ teacher.subjectSpecialization.join(', ') }}
      </div>
      <div class="detail-item">
        <strong>Assigned Activities:</strong> {{ teacher.assignedActivities.join(', ') }}
      </div>
    </div>
    
    <a routerLink="/teachers" class="back-button">Back to Teachers List</a>
  </div>
  
  <div *ngIf="!teacher">
    <p>Teacher details not available.</p>
  </div>
  