
    <div class="container">
        <h1>Teachers list</h1>
        <ul class="student-list">
            <li>
                <span>teacher 1</span>
                <button class="detail-button">informations</button>
                <a href="editteacher.html">
                <button class="edit-button" >Edit</button>
                </a>
                <button class="delete-button">delete</button>
            </li>
            <li>
                <span>teacher 2</span>
                <button class="detail-button">informations</button>
                <a href="editteacher.html">
                    <button class="edit-button" >Edit</button>
                    </a>

                <button class="delete-button">delete</button>
            </li>
            <li>
                <span>teacher 3</span>
                <button class="detail-button">informations</button>
                <a href="editteacher.html">
                    <button class="edit-button" >Edit</button>
                    </a>
                <button class="delete-button">delete</button>
            </li>
        </ul>
    </div>
