<div class="container">
    <!-- Display the list of teachers -->
    <div *ngIf="!isEditing; else editForm">
        <h1>Teachers List</h1>

        <!-- List of teachers -->
        <div *ngIf="teachers.length > 0; else noTeachers">
            <ul class="student-list">
                <li *ngFor="let teacher of teachers">
                    <span>{{ teacher.username }}</span> 
                    <button class="detail-button" [routerLink]="['/teachers', teacher.id]">Informations</button> 
                    <button class="edit-button" (click)="startEditing(teacher)">Edit</button> 
                    <button class="delete-button" (click)="deleteTeacher(teacher.id)">Delete</button>
                </li>
            </ul>
        </div>

        <!-- Message if no teachers are available -->
        <ng-template #noTeachers>
            <p>No teachers available.</p>
        </ng-template>
    </div>

    <!-- Display selected teacher details -->
    <div *ngIf="selectedTeacher" class="teacher-details">
        <h2>Teacher Details</h2>
        <p><strong>Name:</strong> {{ selectedTeacher.username }}</p>
        <p><strong>Max Days Per Week:</strong> {{ selectedTeacher.maxDaysPerWeek }}</p>
        <p><strong>Max Hours Per Day:</strong> {{ selectedTeacher.maxHoursPerDay }}</p>
        <p><strong>Max Gaps Per Day:</strong> {{ selectedTeacher.maxGapsPerDay }}</p>
        <p><strong>Subject Specialization:</strong> {{ selectedTeacher.subjectSpecialization.join(', ') }}</p>
        <p><strong>Assigned Activities:</strong> {{ selectedTeacher.assignedActivities.join(', ') }}</p>
        <button (click)="clearSelectedTeacher()">Close</button>
    </div>

    <!-- Teacher Edit Form -->
    <ng-template #editForm>
        <h2>Edit Teacher</h2>
        <form [formGroup]="editTeacherForm" (ngSubmit)="updateTeacher()">
            <label for="username">Name</label>
            <input id="username" formControlName="username" />

            <label for="maxDaysPerWeek">Max Days Per Week</label>
            <input id="maxDaysPerWeek" formControlName="maxDaysPerWeek" type="number" />

            <label for="maxHoursPerDay">Max Hours Per Day</label>
            <input id="maxHoursPerDay" formControlName="maxHoursPerDay" type="number" />

            <label for="maxGapsPerDay">Max Gaps Per Day</label>
            <input id="maxGapsPerDay" formControlName="maxGapsPerDay" type="number" />

            <label for="subjectSpecialization">Subject Specialization</label>
            <input id="subjectSpecialization" formControlName="subjectSpecialization" />

            <label for="assignedActivities">Assigned Activities</label>
            <input id="assignedActivities" formControlName="assignedActivities" />

            <button type="submit">Update</button>
            <button type="button" (click)="cancelEditing()">Cancel</button>
        </form>
    </ng-template>
</div>
