<div class="app-container">

    <app-user-sidebar></app-user-sidebar>

    <div class="containerSettings">
        <div class="info">
            <h2>Account Information</h2>
            <p>Go Back</p>
        </div>
        <div class="alldata">
            <img src="assets/profile.jpeg" alt="">
            <div class="data">
                <p>Rayen Marzouk</p>
                <p>rayen@rayen.com</p>
            </div>
        </div>
        <div class="containerForm">
            <p>Full Name</p>
            <input type="text" class="inputForm">
            <br>
            <p>Email</p>
            <input type="text" class="inputForm">
            <br>
            <p>Password</p>
            <input type="text" class="inputForm">
            <div class="buttons">
    
                <button class="btn btn_ok">Save Changes</button>
                <button class="btn btn_no">Cancel</button>
    
            </div>
        </div>
    </div>
</div>    