<div class="top">
  <div class="header">
    <input type="text" placeholder="Search Class, Documents, Activities..." />
    <div class="icons">
      <i class="fa-solid fa-bell"></i> <!--🔔-->
      <i class="fa-solid fa-gear"></i> <!--⚙️-->
      <div class="user-icon">
        <img src="assets/profile.jpeg" alt="User Image" />
      </div>
    </div>
  </div>

  <div class="cover">
    <div class="title">
      <img src="assets/logoTM.png" alt="">
      <h2>User Dashboard</h2>
    </div>
    <div class="img">
      <img src="assets/target1.png" alt="">
    </div>
  </div>
</div>

  
