<div class="menu">
    <div class="logo">
        <img src="assets/dashbord-logo.png" alt="logo">
    </div>
    <div class="menu-items">
        <div class="menu-item">
            <a href="">
                <i class="fa-solid fa-house" style="color: #000000;"></i>
                <p>Home</p>
            </a>
        </div>

        <div class="menu-item">
           
            <a routerLink="/students">
                <i class="fa-solid fa-graduation-cap" style="color: #000000;"></i>
                <p>Students</p>
              </a>
        </div>
        <div class="menu-item">
            <a href="/teachers">
                <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>
                <p>Teachers</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>
                <p>Classes</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <i  class="fa fa-book fa-fw"   style="color: #000000;"></i>
                <p>Subjects</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <i  class="fa fa-calendar" aria-hidden="true"></i>
                <p>Timetables</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <i  class="fa fa-building-o"></i>
                <p>Establishments</p>
            </a>
        </div>

        <div class="menu-item logout">
            <a href="">
                <i class="fa-solid fa-sign-out" style="color: var(--sign-out-color);"></i>
                <p class="logout-text" style="color: var(--sign-out-color);">Sign Out</p>
            </a>
        </div>
    </div>
</div>
