<!-- <app-user-sidebar></app-user-sidebar> -->
<!-- app.component.html -->
<div class="app-container">
    <!-- Sidebar on the left -->
    <app-user-sidebar></app-user-sidebar>
  
    <!-- Main content area on the right -->
    <div class="content">
      <!-- Header at the top -->
      <app-header></app-header>

      <div class="dashboard">
       <div class="til">
         <h3 >My Action</h3>
         <p class="styling"></p>
       </div> 
        <div class="actions">
          <!-- Action cards -->
          <app-action-card title="Check Timetable" imgUrl="assets/action2.png"></app-action-card>
          <app-action-card title="Discussion of results" imgUrl="assets/action1.png"></app-action-card>
        </div>
      </div>
      
    </div>
  </div>
  