/* app.component.css */
body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f1f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-box {
  flex: 7;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f6;
}

.illustration {
  flex: 3;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  width: 120px; /* Increase logo size */
  margin-bottom: 30px;
}

h2 {
  font-size: 32px; /* Increase heading size */
  color: #333;
  margin: 15px 0;
  font-family: 'Inter', sans-serif; /* Use Inter font */

}

h3 {
  font-size: 24px; /* Increase subheading size */
  color: #AE2025; /* Stronger red */
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif; /* Use Inter font */

}

.brand-name {
  font-size: 36px; /* Make TimeMaster bigger */
  color: #AE2025; /* Stronger red */
}

.input-field {
  width: 100%;
  padding: 16px; /* Increase padding for bigger input fields */
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px; /* Increase border radius */
  font-size: 18px; /* Increase font size */
}

.login-btn {
  width: 100%;
  padding: 16px; /* Increase button size */
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 8px; /* Increase border radius */
  cursor: pointer;
  margin-top: 25px;
  font-size: 18px; /* Increase font size */
  transition: background-color 0.3s;
  margin-left:20px;
  font-family: 'Inter', sans-serif; /* Use Inter font */
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-text {
  margin: 20px 0;
  font-size: 14px;
  color: #666;
  font-family: 'Inter', sans-serif; /* Use Inter font */
}

.register-text a {
  color: #AE2025; /* Stronger red */
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social-media-icons a {
  color: #AE2025; /* Stronger red */
  font-size: 22px; /* Increase icon size */
  text-decoration: none;
}

.computer-image {
  position: absolute;
  left: 4%; /* Center the image at the intersection */
  transform: translateX(-50%); /* Adjust for the width of the image */
  max-width: 100%; /* Increase maximum width */
  height: auto;
}
